<!DOCTYPE html>
<html>
<head>
  <title>Wber</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzOwNvVVH_77r-VI2Ds-on_5I6YFHvdMQ" async defer></script>

</head>
<body>

<%= yield %>
</body>
</html>
